@this(viewSupport: be.objectify.deadbolt.java.ViewSupport, handlerCache: be.objectify.deadbolt.java.cache.HandlerCache)
@(roles: java.util.List[Array[String]], handler: be.objectify.deadbolt.java.DeadboltHandler = handlerCache.get(), content: Optional[String] = Optional.empty(), timeout: java.util.function.Supplier[Long] = viewSupport.defaultTimeout)(body: => Html)(alternativeBody: => Html)(implicit requestHeader: play.api.mvc.RequestHeader)
@if(viewSupport.viewRestrict(roles, handler, content, timeout.get(), requestHeader.asJava)) {
    @body
} else {
    @alternativeBody
}
