@this(viewSupport: be.objectify.deadbolt.java.ViewSupport, handlerCache: be.objectify.deadbolt.java.cache.HandlerCache)
@(handler: be.objectify.deadbolt.java.DeadboltHandler = handlerCache.get(), content: Optional[String] = Optional.empty(), timeout: Long = viewSupport.timeout)(body: => Html)(alternativeBody: => Html)(implicit requestHeader: play.api.mvc.RequestHeader)
@if(viewSupport.viewSubjectNotPresent(handler, content, timeout, requestHeader.asJava)) {
    @body
} else {
    @alternativeBody
}
